

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }


body{

    width: 100%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
  

}





/* floating message */

.message-me{
    background-color:rgb(24, 135, 251);
    position:fixed;
    padding: 8px;
    bottom: 17px;
    left: 30px;
    border-radius: 50%;
    cursor: pointer;
    
}

.message-me i{
    font-size: 32px;
    color: white;
}


/* day-night mode  dark-mode */

.dark-mode{
    background-color:rgb(0, 175, 146);
    color: white;
    font-size: 30px;
    padding: 0px 12px;
    border-radius: 50%;
    position: fixed;
    top: 125px;
    right: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


    
}


.dark-mode:hover{
    box-shadow: 0px 1px 28px rgb(169, 220, 215);

}


.dark-mode i{
    font-size: 22px;
 
}

